*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
		font-family: 'Raleway', sans-serif;
		color: white;
		background-color: #000;
		min-width: 300px;
		min-height: 100%;


}
.nav{
	display: flex;
	align-items: center;
	background: linear-gradient( to left,#1b2530 10%,rgba(27,37,48,90) 100%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
	height: 72px;
	font-size: 17px;
	line-height: 24px;
}
.lt-nav{
	display: flex;
	padding: 16px 35px;
	height: 100%;
	width: 100%;
	left: 0;
	top: 2px;
	align-items: center;
	    cursor: pointer;
}
.nav-img{
	height: 60px;
	width: 140px;
	background-size: contain;
	background-image: url(Images/logo.jpg);
	background-repeat: no-repeat;
	display: inline-block;
    text-indent: -9999px;

}
.rt-nav{
	color: #F0E8E8;
	display: flex;
	position: absolute;
	right: 0;
	justify-content: flex-end;
	width: 65em;
	top: 1.5em;
	padding-right: 50px;
	font-size: 17px;
}
.nav1{
	position: absolute;
    font-size: 1.6em;
    padding-right: 110px;
    top:0;
}
.nav2{
	position: absolute;
	font-size: 16px;
	color: #EBEBEB;
	padding-right:  5.5em;
}
.nav3
{
	position: absolute;
	padding: 0.4em 4.3em;
	font-size: 1em;
}
.nav4{
	position: absolute;
	font-weight: 5s00;
	font-size: 17px;
	letter-spacing: 0.03em;
}
.sec1{
	padding: 50px 3%;
	margin-top:70px;
	min-height: 480px;
	background-image: linear-gradient( to right, #000 40%, transparent 58%),url(Images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	color: white;
	display: block;
	cursor: default;
}
.ban1,.ban2,.ban3,.ban4{
	padding: 35px 20px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	min-height: 40vh;
}
.cont1{
	padding-right: 55%;
	line-height: 1.3;
}
.cont1 h1{
	font-weight: 600;
	font-size: 2.3em;
	letter-spacing: 0.03em;
	text-align: left;
}
.cont1 p{
	padding-top: 25px;
	font-size: 1.2em;
	line-height: 1.3em;
	letter-spacing: 0.03em;
}
.btn{
	background: #0f79af;
	border: none;
	color: white;
	padding: 1rem 4.2rem;
	font-size: 1.1rem;
	text-align: center;
	cursor: pointer;
	margin-top: 2.8em;
	border-radius: 2px;

}
.sec2{
	padding: 50px 3%;
	min-height: 480px;
	background-image: linear-gradient( to left, #000 40%, transparent 58%),url(Images/sec2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	color: white;
	display: block;
}
.cont2{
	padding-left: 55%;
	line-height: 1.3em;
}
.cont2 h1{
	font-weight: 600;
	font-size: 2.3em;
	letter-spacing: 0.03em;
	text-align: left;
}

.cont2 p{
	padding-top: 40px;
	font-size: 1.2em;
	line-height: 1.4em;
	letter-spacing: 0.03em;
}
.btn2{
	padding: 1em 5.5em;
}
.sec3{
	padding: 20px 40px;
	padding-bottom: 0px;
	min-height: 500px;
	background-image:linear-gradient(to right, #000 40%, transparent 58%),url(Images/bg3.jpg);
	background-repeat: no-repeat;
	background-position: 105% 20%;
	color: white;
	cursor: default;
}
.cont3{
	padding-right: 55%;
	line-height: 1.3;
}
.cont3 h1{
	font-weight: 600;
	font-size: 2.3em;
	letter-spacing: 0.03em;
	text-align: left;
}
.cont3 p{
	padding-top: 25px;
	font-size: 20px;
	line-height: 1.3em;
}
.btn3{
	padding: 0.9em 5.5em;
}
.p1{
	font-size: 15px !important;
}
.sec4{
	min-height: 400px;
	padding: 20px 30px;
	background-color: #000;
	background-image:url(Images/bg4.jpg);
	background-size: 60% 120%;
	background-position: left top;
	background-repeat: no-repeat;
	color: white;
}
.cont4{
	padding-left: 55%;
	line-height: 1em;
	text-align: left;
}
.cont4 h1{
	font-weight: 600;
	font-size: 2.5em;
	letter-spacing: 0.03em;
	line-height: 1.3em;
}

.cont4 p{
	padding-top: 40px;
	font-size: 1.2em;
	line-height: 1.4em;

}
.container{
	padding: 50px 4% 10px 4%;
	min-height: 65vh;
	background-color: white;
	align-items: center;
}
.containers{
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	color: black;
	}
.one,.two,.three{
	flex:  0 1 32%;
	text-align: center;

}

.three,.two,.one, h1 {
	font-size: 35px;
	padding: 15px 0px;
	}

.three,.two,.one, p {
	font-size: 20px;
	letter-spacing: 0.01em;
	}
	
.last{
	padding: 50px 3%;
	min-height: 480px;
	background-image: linear-gradient( to right, #000 40%, transparent 58%),url(Images/last.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	color: white;
	display: block;
	cursor: default;
}
.ban5{
	padding: 0px 20px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	min-height: 40vh;
}
.cont5{
	padding-right: 53%;
	line-height: 1.3;
}
.cont5 h1{
	font-weight: 600;
	font-size: 2.3em;
	letter-spacing: 0.05em;
	text-align: left;
}
.cont5 p{
	padding-top: 25px;
	font-size: 1.2em;
	line-height: 1.3em;
	letter-spacing: 0.03em;
}
.btn5{
	padding: 0.9em 5.5em
}
.foot{
	padding:10px 0 0 0;
	min-height: 20vh;
	display: flex;
	background-color: #222;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.uli{
padding: 10px 0 30px 0;
	display: flex;
	justify-content: space-between;
	width: 108%;
	list-style: none;
	flex: 0 1 10%;
	color: #0f79af;
	font-size: 13px;
	letter-spacing: 0.08em;
}
.copy{
	color: #b0afae;
}

@media screen and (max-width: 950px)
{

.cont2{
	padding-left: 45%;
	line-height: 1.3em;
}
.sec4{
	background-size: 50% 100%;
}
	.containers{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0;
	color: black;
	}
	.one img{
		width: 200px;
	}
.two img{
	width: 200px;

}
.three img{
	width: 200px
}
.three,.two,.one, h1 {
	font-size: 30px;
	padding: 15px 0px;
	}

.three,.two,.one, p {
	font-size: 16px;
	letter-spacing: 0.01em;
	}
}
@media screen and (max-width: 770px)
{
	.sec1{
		padding-bottom: 20px;
	background-image: linear-gradient( to top, #000 40%, transparent 58%),url(Images/banner.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: right top;
	
}
.ban1,.ban2,.ban3,.ban4{
	padding: 0px 0px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.cont1{
	text-align: center;
	padding-right: 0px;
	padding-top: 55%;
}
.cont1 h1{
	
	text-align: center;
}
.cont1 p{
	padding: 25px 40px 0 40px;
	}
	.btn{
	padding: 1rem 7rem;
}

.sec2{
	background-image: linear-gradient( to top, #000 45%, transparent 58%),url(Images/sec2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: left top;
}
.cont2{
	text-align: center;
	padding-left: 0px;
	padding-top: 55%;
}
.cont2 h1{
	text-align: center;
}

.cont2 p{
	padding: 40px 20px 0 20px;
}
.btn2{
	padding: 1em 7em;
}

.sec3{
	background-image:linear-gradient(to top, #000 40%, transparent 58%),url(Images/bg3.jpg);
	background-size: auto;
		}
.cont3{
	text-align: center;
	padding-right: 0px;
	padding-top: 55%;
}
.cont3 h1{
	text-align: center;
}
.cont3 p{
	padding: 20px 20px 0 20px;
}
.btn3{
	margin-top: 30px;
	padding: 1em 7em;
}
.p1{
	font-size: 15px !important;
}
.sec4{
	background-image:linear-gradient(to top, #000 45%, transparent 58%),url(Images/bg4.jpg);
	background-size: auto;
	background-position: right; top;
	background-repeat: no-repeat;
}
.cont4{
	padding-left: 0px;
	padding-top: 55%;
	text-align: center;
}
.containers{
	flex-flow: column wrap;
	}
.three,.two,.one, p {
	font-size: 22px;
	}


.last{
	background-image: linear-gradient( to top, #000 45%, transparent 58%),url(Images/last.jpg);
	background-size: auto;
}

.cont5{
	padding: 50% 0 10px 0;
	text-align: center;
}
.cont5 h1{
	text-align: center;
}
.btn5{
	padding: 0.9em 7em
}

.foot{
	margin-top: 40px;
	padding:25px 0 0 0;
	min-height: 20vh;
	display: flex;
	background-color: #222;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.uli{
margin-top: 10px;
padding: 15px 0 50px 0;
	flex-flow: row wrap;
	justify-content: center;
	flex-basis: 110%;
	width: 99.9%;
	font-size: 12px;
}
li{
	padding-right: 10px;
}
.copy{
	padding-top: 10px;
	color: #b0afae;

}

}